/* Less is more*/

/* Importuojami kiti css failai */
@import "fonts.less";
@import "reset.less";


/* Stiliaus parametrai */

body {
  margin: 0;
  font-family: "Open Sans", Arial;
  font-weight: 400;
  font-style: normal;
}

/* Header dalis */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: auto;
  margin: 5px auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

header.clone {
  background-color: rgba(30, 20, 55, .8);
  position: fixed;
  margin-top: 0px;
  width: 100%;
  height: auto;
  padding: 5px 10% 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-110%);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
  z-index: 2;
}

body.down header.clone {
    transform: translateY(0);
}

.logo {
  height: 50px;
  width: 238px;
}

nav {
  padding: 10px 0;

  .navigation {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    margin: 0;

    li:nth-child(1n+2) {
        margin-left: 20px;
      }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1.5em;
      font-weight: 300;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .8);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, .8);

        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 4.125em;
  text-align: center;
}

blockquote {
  font-size: 0.9em;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  background-color: rgba(77, 50, 77, .2);
  border-top: 2px solid rgba(255, 255, 255, .5);
}

#banner {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Main dalis */

main {
  color: rgba(2, 23, 37, 0.7);
}

/* About dalis */

.aboutbox {
  width: 80%;
  margin: 8rem auto 0;

  h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(212,175,55);
    margin-bottom: 1em;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  .about_container {
    display: flex;
    margin: auto;
    background-color: rgb(249, 249, 249);

    p {
      display: inline-block;
      margin: auto 20% auto 20%;
      text-align: left;
      line-height: 1.6;
      text-align: center;
    }
  }

  .manonuotrauka {
    max-width: 242px;
    max-height: 328px;
    width: 30%;
    height: 100%;
  }
}

/* Mano darbū skiltis */

.workbox {
  width: 100%;
  margin: 8rem auto 0;

  h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(212,175,55);
    margin-bottom: 1em;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    text-align: center;
  }
  .work_container {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin: 0 auto;

    a {
      display: inline-block;
      width: ~"calc(25% - 5px)";
      height: 300px;
      margin: 2px;
      .fancybox {
          width: 100%;
          height: 100%;
          border: none;
          box-shadow: 0 1px 3px rgba(0,0,0,0.6);
          transform: scale(1,1);
          transition: all 0.2s ease-in-out;
          object-fit: cover;
          &:hover {
            z-index: 1;
            transform: scale(1.03,1.03);
          }
        }
      }
    }
  }


/* Kontaktų skiltis */

.contactbox {
  width: 60%;
  margin: 8rem auto 8rem;

  h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(212,175,55);
    margin-bottom: 1em;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

  .contact_container{
    background-color: rgb(249, 249, 249);
    padding-bottom: 30px;

    .email,
    .phone, {
      width: 49.5%;
      display: inline-block;
      text-align: center;
      margin-top: 30px;
      a {
        text-decoration: none;
        color: rgb(80, 70, 105);;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .social ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin-left: -40px;

      a {
        text-decoration: none;
        font-size: 1.9em;
        color: rgb(80, 70, 105);

        &:hover {
          transition: 0.3s ease-out;
          transform: rotate(20deg);
        }

        &:nth-child(1n+2) {
          margin-left: 20px;
        }

        li.facebook:hover {
          color: rgb(59,89,152);
        }
        li.linkedin:hover {
          color: rgb(0,123,181);
        }
        li.instagram:hover {
          color: rgb(205,72,107);
        }
        li.github:hover {
          color: rgb(0,0,0);
        }
      }
    }
  }
}

/* Footeris */

.mainfooter {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(30, 20, 55);
  min-height: 9vh;
  padding: 20px;
  p {
    color: white;
    text-align: center;
    margin: 0;
  }
}

/* Maži logo */

.facebook:before{
  content:"\ea91";
  font-family: 'icomoon';
}

.linkedin:before{
  content:"\eac9";
  font-family: 'icomoon';
}

.instagram:before{
  content:"\ea92";
  font-family: 'icomoon';
}

.github:before{
  content:"\eab0";
  font-family: 'icomoon';
}

/* Media Queries */

@media all and (max-width: 480px) {
  header {
    width: 100%;
    padding: 0 2px;
    height: 38px;
  }
  header.clone {
      padding: 5px 1% 0;
  }
  .logo {
    height: 35px;
    width: 150px;
  }
  nav {
    position: relative;
    .burger{
      cursor: pointer;
      display: block;
      margin-top: 2px;
      position: absolute;
      right: 0px;

      &:before,
      &:after{
        content: "";
        background: #eee;
        display: block;
        width: 25px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        top: 0;
        transition: all ease-in-out 0.3s;
      }
    }
    &.open .burger:after{
        transform: rotate(45deg);
        top: -4px;
    }

    &.open .burger:before{
        transform: rotate(-45deg);
        top: 4px;
    }

    .navigation {
      display: none;
      color: #fff;
      li{
        text-align: right;
        font-size: 0.9em;
      &:nth-child(1n+2) {
          margin-left: 0;
        }
      }
    }

    &.open .navigation {
    display: inline-block;
    margin-top: 25px;
    }
  }
  h1 {
    font-size: 2.5em;
    margin-top: 70px;
  }

  blockquote {
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 0;
  }
  .aboutbox {
    width: 100%;
    margin: 4rem auto 0;
    .about_container{
      flex-direction: column;
      p {
       margin: 5% 10% 0 10%;
      }
    }
    .manonuotrauka {
      margin:auto;
      width: 100%;
    }
  }
  .workbox {
    margin: 4rem auto 0;
    .work_container {
      a {
        width: ~"calc(50% - 5px)";
        height: 170px;
      }
    }
  }
  .contactbox {
    width: 100%;
    margin: 4rem auto 4rem;

    #map {
     height: 300px;
   }

    .contact_container{
      .email,
      .phone, {
        width: 100%;
      }
    }
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {

  header {
    width: 90%;
    padding: 0 2px;
    height: 53px;
  }
  header.clone {
      padding: 5px 5% 0;
  }
  h1 {
    font-size: 3.125em;
    padding-top: 20px;
  }
  blockquote {
    width: 90%;
  }
  nav {
    position: relative;
    .burger{
      cursor: pointer;
      display: block;
      margin-top: 7px;
      position: absolute;
      right: 0px;

      &:before,
      &:after{
        content: "";
        background: #eee;
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        top: 0;
        transition: all ease-in-out 0.3s;
      }
    }
    &.open .burger:after{
        transform: rotate(45deg);
        top: -5px;
    }

    &.open .burger:before{
        transform: rotate(-45deg);
        top: 5px;
    }

    .navigation {
      display: none;
      color: #fff;
      li{
        text-align: right;
      &:nth-child(1n+2) {
          margin-left: 0;
        }
      }
    }

    &.open .navigation {
    display: block;
    margin-top: 40px;
    }
  }
  .aboutbox {
    width: 90%;
    margin: 6rem auto 0;
    .about_container p {
      margin: auto 2% auto 2%;
      line-height: 1.4;
    }
    .manonuotrauka {
      width: 40%;
    }
  }
  .workbox {
    margin: 6rem auto 0;
    .work_container {
      a {
        height: 150px;
      }
    }
  }
  .contactbox {
    width: 90%;
    margin: 6rem auto 6rem;

    #map {
     height: 300px;
   }
  }
}
@media all and (min-width: 768px) and (max-width: 1280px) {
  header {
    width: 90%;
  }
  header.clone {
      padding: 5px 5% 0;
  }
  blockquote {
    width: 90%;
  }
  .aboutbox {
    width: 90%;
    margin: 6rem auto 0;
  }
  .workbox {
    margin: 6rem auto 0;
    .work_container {
      a {
        height: 250px;
      }
    }
  }
  .contactbox {
    width: 80%;
    margin: 6rem auto 6rem;

    .contact_container{
      .email,
      .phone, {
        width: 49.5%;
      }
    }
  }
}
